server:
  port: 18080
  servlet:
    context-path: /uaa

spring:
  application:
    name: auth-server
  config:
    import: "optional:configserver:http://localhost:8888"



logging:
  pattern:
    console: "[%d{MM-dd-yyyy HH:mm:ss,SSS zZ}] [%t] [category=%.50c{3}; prio=%-4p CorrelationId=%X{CorrelationId};] [UserId=%X{UserId}; ] msg=%m%n"
  level:
    org.springframework.security: DEBUG
    com.oopsmails.spring.cloud.microservices.authserver.filter.HttpLoggingFilter: DEBUG
