spring:
  application:
    name: employee-service
  config:
    import: "optional:configserver:http://localhost:8888"

logging:
  pattern:
    console: "[%d{MM-dd-yyyy HH:mm:ss,SSS zZ}] [%t] [category=%.50c{3}; prio=%-4p CorrelationId=%X{CorrelationId};] [UserId=%X{UserId}; ] msg=%m%n"
  level:
    org.springframework.security: DEBUG
    com.oopsmails.spring.cloud.microservices.employeeservice.filter.HttpLoggingFilter: DEBUG


#security.oauth2.resource.token-info-uri: http://localhost:9999/uaa/oauth/check_token
#security.oauth2.client.client-id: demops
#security.oauth2.client.client-secret: password
#
#spring.jackson.date-format: com.fasterxml.jackson.databind.util.ISO8601DateFormat


#ssoServiceUrl: http://localhost:7777
#
#security:
#  oauth2:
#    client:
#      client-id: demops
#      client-secret: demo
#      access-token-uri: ${ssoServiceUrl}/oauth/token
#      user-authorization-uri: ${ssoServiceUrl}/oauth/authorize
#    resource:
#      jwt:
#        key-uri: ${ssoServiceUrl}/oauth/token_key
#        key-value: holder
#      user-info-uri: ${ssoServiceUrl}/userinfo
#
#spring:
#  jackson:
#    date-format: com.fasterxml.jackson.databind.util.ISO8601DateFormat


